# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

# 正式使用时可以选择性移除
composer.lock
package-lock.json
/module/module.json
/module/lang.json
/public/css/app.css
/public/css/themes
/public/fonts/vendor
/public/images/alipay.png
/public/images/vendor
/public/js/app.js
/public/js/locale
/public/mix-manifest.json
/public/_book
