@import "~font-awesome/scss/font-awesome.scss";
@import "~flag-icon-css/sass/flag-icon";
@import "~EasyUI/themes/color.css";
@import "~EasyUI/themes/icon.css";

a {
  text-decoration: none;
}

.fa {
  background: none !important; // 解决图标重合问题
  font-size: 14px;
}

.word-wrap, .messager-body {
  word-wrap: break-word;
  word-break: break-all;
}

.messager-body {
  height: auto !important;
}

.dialog-button {
  width: auto !important;
}
