@import "~font-awesome/scss/font-awesome.scss";
@import "~flag-icon-css/sass/flag-icon";
@import "~EasyUI/themes/color.css";
@import "~EasyUI/themes/icon.css";
@import "../extension/jquery-easyui-texteditor/texteditor.css";
@import "~lightgallery.js/dist/css/lightgallery.css";
@import "~cropper/dist/cropper.css";

a {
  text-decoration: none;
}

.fa {
  background: none !important; // 解决图标重合问题
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column;
}

.tree-icon.fa {
  margin-top: 2px;
}

.tree-icon {
  text-align: center;
}

.word-wrap, .messager-body {
  word-wrap: break-word;
  word-break: break-all;
}

.messager-body {
  height: auto !important;
}

.dialog-button {
  width: auto !important;
}

//.tabs-p-tool {
//  margin-top: -8px !important;
//}
