@import "~font-awesome/scss/font-awesome.scss";
@import "~flag-icon-css/sass/flag-icon";
@import "~EasyUI/themes/color.css";

.word-wrap, .messager-body {
  word-wrap: break-word;
  word-break: break-all;
}

.messager-body {
  height: auto !important;
}
